<div class="p-2 main d-flex flex-column justify-content-around align-items-center">
  <div style="font-weight:bold; font-size:20px"> Formulaire </div>

  <div class="d-flex justify-content-between">
    <button mat-icon-button color="primary" (click)="onDecrementClick()">
      <mat-icon>remove</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="onResetClick()">
      <mat-icon>restart_alt</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="onIncrementClick()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-form-field>
    <mat-label>Prenom</mat-label>
    <input matInput type="text" (keyup)="onFirstnameKeyup()" [(ngModel)]="firstname">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput type="text" (keyup)="onLastnameKeyup()" [(ngModel)]="lastname">
  </mat-form-field>
</div>
