<div class="p-2 main">Formulaire <br><br>

  <!-- <mat-form-field>
    <mat-label>Compteur</mat-label>
    <input matInput type="number" (change)="onCounterChange()" [(ngModel)]="counter">
  </mat-form-field> -->

  <div class="d-flex justify-content-between">
    <button mat-icon-button color="primary" (click)="onDecrementClick()">
      <mat-icon>remove</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="onResetClick()">
      <mat-icon>restart_alt</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="onIncrementClick()">
      <mat-icon>add</mat-icon>
    </button>
  </div>




  <mat-form-field>
    <mat-label>Prenom</mat-label>
    <input matInput type="text" (keyup)="onFirstnameKeyup()" [(ngModel)]="firstname">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput type="text" (keyup)="onLastnameKeyup()" [(ngModel)]="lastname">
  </mat-form-field>
</div>
